<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container"><h1 class="title">Shipping</h1></div>
    <br><br><br>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label has-text-grey">Address #1</label>
            <p class="control has-icons-left">
              <input id="address_1_input" class="input has-background-dark has-text-light" type="text" style="border: none;">
              <span class="icon is-small is-left"><i class="fas fa-map-marker-alt"></i></span>
            </p>
          </div>
          <div class="field">
            <label class="label has-text-grey">Address #2</label>
            <p class="control has-icons-left">
              <input id="address_2_input" class="input has-background-dark has-text-light" type="text" style="border: none;">
              <span class="icon is-small is-left"><i class="fas fa-building"></i></span>
            </p>
          </div>
          <div class="field">
            <label class="label has-text-grey">City</label>
            <p class="control has-icons-left">
              <input id="city_input" class="input has-background-dark has-text-light" type="text" style="border: none;">
              <span class="icon is-small is-left"><i class="fas fa-city"></i></span>
            </p>
          </div>
          <div class="field">
            <label class="label has-text-grey">State</label>
            <p class="control has-icons-left">
              <input id="state_input" class="input has-background-dark has-text-light" type="text" style="border: none;">
              <span class="icon is-small is-left"><i class="fas fa-flag"></i></span>
            </p>
          </div>
          <div class="field">
            <label class="label has-text-grey">Zip Code</label>
            <p class="control has-icons-left">
              <input id="zip_code_input" class="input has-background-dark has-text-light" type="text" style="border: none;">
              <span class="icon is-small is-left"><i class="fas fa-sort-numeric-down"></i></span>
            </p>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label has-text-grey">Email</label>
            <p class="control has-icons-left">
              <input id="email_input" class="input has-background-dark has-text-light" type="email" style="border: none;">
              <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            </p>
          </div>
          <div class="field">
            <label class="label has-text-grey">Mobile</label>
            <p class="control has-icons-left">
              <input id="mobile_input" class="input has-background-dark has-text-light" type="tel" style="border: none;">
              <span class="icon is-small is-left"><i class="fas fa-mobile"></i></span>
            </p>
          </div>
        </div>
        <div class="column">
          <p class="label has-text-light">A confirmation email will be sent to your mailbox after your purchase.</p>
        </div>
      </div>
    </div>
  </div>
</section>