<section class="section is-paddingless">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div><span class="icon is-medium has-text-danger"><i class="fas fa-lg fa-envelope-open-text"></i></span></div>
        </div>
        <div class="level-item">
          <div>
            <p class="subtitle">But we still cannot live without words.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<section class="section is-paddingless">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input is-large is-gray-light" id="name-input" type="text" placeholder="Give it a title.">
              <span class="icon is-large is-left"><i class="fas fa-font"></i></span>
            </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <textarea class="textarea is-large is-shadowless" id="description-input" rows=5 placeholder="Tell everyone more about it." ></textarea>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large is-gray-light" id="price-input" type="text" placeholder="It's not free, right?">
            <span class="icon is-large is-left"><i class="fas fa-money-bill-alt"></i></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<section class="section is-paddingless">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <div><span class="icon is-medium has-text-danger"><i class="fas fa-lg fa-check"></i></span></div>
        </div>
        <div class="level-item">
          <div>
            <p class="subtitle">And we are ready to go.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<section class="section is-paddingless">
  <div class="container">
    <button class="button is-fullwidth is-medium is-danger" onclick="submitSellForm()">Submit</button>
  </div>
</section>