<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.8.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.8.1/firebase-firestore.js"></script>
  <script src="/static/initFirebase.js"></script>
  <script src="/static/signInOutWithGoogle.js"></script>
  <script src="/static/utilities.js"></script>
  {% block head_extension %}
  {% endblock %}
</head>
<body>
  <nav class="navbar has-background-dark">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-light" href="/">Serverless Store</a>
      </div>
      {% block navbar_end %}
      <div class="navbar-end">
        {% if auth_context %}
        <div class="navbar-item">
          <a id="username" class="has-text-white">{{ auth_context.get('username') }} ({{ auth_context.get('email') }})</a>
        </div>
        <div class="navbar-item">
          <a id="cart" class="has-text-white" href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="navbar-item">
          <a id="sign-out-control" class="has-text-white" onclick="signOutWithGoogle()"><i class="fas fa-sign-out-alt"></i></a>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary has-background-info" href="/sell"><strong>Sell on SHS</strong></a>
          </div>
        </div>
        {% else %}
        <div class="navbar-item">
            <a id="sign-in-control" class="has-text-white" href="/signin">Sign in with <i class="fab fa-google"></i></a>
        </div>
        {% endif %}
      </div>
      {% endblock %}
    </div>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>