{% extends "base.html" %}
{% block title %}Serverless Store: Cart{% endblock %}
{% block content %}
  <section class="hero is-primary is-bold is-fullheight-with-navbar">
    <div class="hero-head"></div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Thank you!</h1>
        <h2 class="subtitle">We are processing your order now. You should receive an email confirmation soon.</h2>
      </div>
    </div>
    <div class="hero-foot"></div>
  </section>
{% endblock content %}